<!DOCTYPE html>
<html lang="ja">{% spaceless %}{# 基本的にタグ間の空白は除去しgulp-pretifyで整形して仕上げる #}
<head>
  {# デフオルト値のセット #}
  {% if pathToTop is not defined %}{% set pathToTop = './' %}{% endif %}
  {% if cssDir is not defined %}{% set cssDir = 'css/' %}{% endif %}
  {% if jsDir is not defined %}{% set jsDir = 'js/' %}{% endif %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  {% block head %}
    {% include "./_faviconHeader.twig" %} {# サイトのfaviconをセット #}
    <title>{% block title %}名古屋大学医学部附属病院総合診療科{% endblock title %}</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="{{ pathToTop }}{{ jsDir }}flexibility.js"></script>  {# ie用Flexbox ポリフィル #}
    <![endif]-->
    {% block CSS %}
      <link media="all" rel="stylesheet" href="{{ pathToTop }}{{ cssDir }}common.css" />
    {% endblock CSS %}
  {% endblock head %}
</head>
<body class="WholeWrapper">
<div class="WholeWrapper_content">
{% block globalNavi %}
  {% include "./_globalHeader.twig" %}
{% endblock globalNavi %}
{% block contents %}
{% endblock contents %}

{% block footer %}
<footer class="globalFooter">
<ul class="footerIcons globalFooter_sub">
  <li class="footerIcons_icon footerIcon"><a href="#" class="footerIcon_item icon-facebook"><span class="footerIcon_label">facebookでシェア</span></a></li>
  <li class="footerIcons_icon footerIcon"><a href="#" class="footerIcon_item icon-twitter"><span class="footerIcon_label">twitterでシェア</span></a></li>
</ul>
<footer class="globalFooter_main footerMain">
  <div class="footerMain_addressbox">
    <address>名古屋大学大学院医学系研究科総合診療医学</address>
    <address>名古屋大学医学部附属病院総合診療科</address>
    <address>〒466-8560 名古屋市昭和区鶴舞町65</address>
  </div>
<ul class="footerIcons">
  <li class="footerIcons_icon footerIcon"><a href="#" class="footerIcon_item icon-email"><span class="footerIcon_label">お問い合わせ</span></a></li>
  <li class="footerIcons_icon footerIcon"><a href="#" class="footerIcon_item icon-pin"><span class="footerIcon_label">アクセス</span></a></li>
</ul>

</footer>
</footer>
{% endblock footer %}
{% block footerJS %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script src="{{ pathToTop }}{{ jsDir }}footer_common.js"></script>
{% endblock footerJS %}
</div>
</body>
</html>{% endspaceless %}
